// Fonts

$main-font: 'Roboto', sans-serif;
$second-family: 'Philosopher', sans-serif;
// Colors

$black-color: #000;
$white-color: #fff;
$orange-color : #dc780b;
$text-color: #150c01;

// Sizes

$container-width: 1160px;
$container-padding: 20px;